In [95]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score, mean_squared_error, accuracy_score

In [126]:
df= pd.read_csv('insurance (1).csv')
df.head()

   age     sex   bmi  children smoker     region  charges
0   19  female 27.90         0    yes  southwest 16884.92
1   18    male 33.77         1     no  southeast  1725.55
2   28    male 33.00         3     no  southeast  4449.46
3   33    male 22.70         0     no  northwest 21984.47
4   32    male 28.88         0     no  northwest  3866.86

In [127]:
from IPython import display

In [128]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [129]:
df.describe()

          age     bmi  children  charges
count 1338.00 1338.00   1338.00  1338.00
mean    39.21   30.66      1.09 13270.42
std     14.05    6.10      1.21 12110.01
min     18.00   15.96      0.00  1121.87
25%     27.00   26.30      0.00  4740.29
50%     39.00   30.40      1.00  9382.03
75%     51.00   34.69      2.00 16639.91
max     64.00   53.13      5.00 63770.43

In [130]:
pd.set_option('display.float_format', '{:.2f}'.format)

In [131]:
df.head()

   age     sex   bmi  children smoker     region  charges
0   19  female 27.90         0    yes  southwest 16884.92
1   18    male 33.77         1     no  southeast  1725.55
2   28    male 33.00         3     no  southeast  4449.46
3   33    male 22.70         0     no  northwest 21984.47
4   32    male 28.88         0     no  northwest  3866.86

In [144]:
sex_df= pd.get_dummies(df['sex'], drop_first=True)
smoker_df= pd.get_dummies(df['smoker'])
region_df= pd.get_dummies(df['region'], drop_first=True)

In [145]:
new_df= pd.concat([df,sex_df,smoker_df,region_df], axis=1)
new_df.head(2)

,age,sex,bmi,children,smoker,region,charges,male,no,yes,northwest,southeast,southwest
0,19,female,27.90,0,yes,southwest,16884.92,0,0,1,0,0,1
1,18,male,33.77,1,no,southeast,1725.55,1,1,0,0,1,0

In [146]:
new_df.drop(['sex', 'smoker', 'region'], axis=1, inplace=True)

In [147]:
new_df.head(2)

,age,bmi,children,charges,male,no,yes,northwest,southeast,southwest
0,19,27.90,0,16884.92,0,0,1,0,0,1
1,18,33.77,1,1725.55,1,1,0,0,1,0

In [148]:
x= new_df.drop(['charges','northwest','southeast','southwest','male'], axis=1)
y= new_df['charges']

In [149]:
insu_model=LinearRegression()

In [150]:
x_train, x_test, y_train, y_test= train_test_split(x,y, test_size=0.2, random_state=1)

In [151]:
insu_model.fit(x_train,y_train)

LinearRegression()

In [152]:
y_pred=insu_model.predict(x_test)

In [153]:
r2_score(y_test,y_pred)

0.7611879389063602

In [154]:
mean_squared_error(y_test,y_pred)

35650017.2266782

In [155]:
# Saving model
import pickle
pickle.dump(insu_model,open('insu_model.pickle','wb'))